# Run any time a commit is merged to the 'master' branch
trigger:
- master

# There is a separate pipeline for PRs (it does not do deploys)
pr: none

pool:
  vmImage: 'windows-latest'

# variables:
#   GOBIN:  '$(GOPATH)/bin' # Go binaries path
#   GOROOT: '/usr/local/go1.12'
#   GOPATH: '$(system.defaultWorkingDirectory)/gopath' # Go workspace path
#   modulePath: '$(GOPATH)/src/github.com/$(build.repository.name)' # Path to the module's code

steps:
# - task: GoTool@0
#   inputs:
#     version: '1.12' 
#     goPath: '$(GOPATH)'
#     goBin: '$(GOBIN)'
# - script: |
#     pwd
#   displayName: 'See wassup'

# - task: Bash@3
#   displayName: 'Run tests'
#   inputs:
#     targetType: 'inline'
#     workingDirectory: '$(modulePath)'
#     script: |
#       go get -v -u github.com/jstemmer/go-junit-report
#       go test -v 2>&1 | go-junit-report > test-results.xml

# - task: PublishTestResults@2
#   inputs:
#     testResultsFormat: 'JUnit'
#     testResultsFiles: '$(modulePath)/test-results.xml'
#     failTaskOnFailedTests: true
# Bash@3
- task: CmdLine@2 
  displayName: 'Build the plugin'
  inputs:
    script: |
      set GOOS=windows
      set GOARCH=386
      set CC=i686-w64-mingw32-gcc
      go env
      make win32
      dir

# - task: Docker@2
#   displayName: Login to Docker Hub
#   inputs:
#     command: login
#     containerRegistry: DockerHub

# - task: Docker@2
#   displayName: Build and push Docker image to Docker Hub
#   inputs:
#     command: buildAndPush
#     buildContext: '$(modulePath)'
#     repository: newrelic/newrelic-fluentbit-output
#     tags: $(VERSION)

- task: GitHubRelease@1
  inputs:
    gitHubConnection: 'github.com_ngotim'
    repositoryName: '$(Build.Repository.Name)'
    action: 'create'
    target: '$(Build.SourceVersion)'
    tagSource: 'userSpecifiedTag'
    tag: 'test-buildv1.1'
    title: 'Testing'
    assets: |
      $(system.defaultWorkingDirectory)\out_newrelic_win32.dll
      $(system.defaultWorkingDirectory)\out_newrelic_win64.dll
    changeLogCompareToRelease: 'lastFullRelease'
    changeLogType: 'commitBased'